code {
    background: #666;
    border: none;
}

.given-container {
    .given-desc {
        margin-left: 0.5em;
    }
}

.code-concrete-type {
    // TODO
}

$genericParamColors: (
    "T": lightskyblue,
    "U": gold, 
    "D": orchid, 
    "E": gold, 
    "F": orchid,
);

@each $name, $color in $genericParamColors {
    .code-generic-param-#{$name} {
        color: $color;
    }
}