@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,600');

@import 'variables.scss';

.container {
    max-width: 1500px;
}

body {
    background-color: #222;
}

h1 {
    font-size: 2.0rem;
}

#header-bg {
    h1 {
        padding: 1em;
        margin: 0;
        padding-left: 0px;

        code {
            font-family: monospace;
            background-color: darken($theme, 5%);
        }
    }
    color: #fff;
    background-color: $theme;

    margin-bottom: 2em;
}

code {
    background: #666;
    border: none;
}