.code-concrete-type {
    // TODO
}

$genericParamColors: (
    "T": lightskyblue,
    "U": gold, 
    "D": orchid, 
    "E": orchid, 
    "F": aquamarine,
    "P": gold,
    "O": aquamarine,
);

@each $name, $color in $genericParamColors {
    .code-generic-param-#{$name} {
        color: $color;
    }
}

.code-syntax-punctuation {
    color: #bbb;
}